<mat-toolbar style="background-color: transparent">
    <div>
        <span>My Store</span>
        <button mat-button style="height: 65px;margin-left: 10px;" routerLink="/products" >Product List</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button  aria-label="Example icon-button with heart icon" routerLink="/cart">
      <mat-icon aria-hidden="false" aria-label="Example home icon" matBadgeColor="warn" [matBadge]="productsInCartNumber " >add_shopping_cart</mat-icon>
    </button>
  </mat-toolbar>