.example-card {
   width: 300px;
   height: 500px;
  
  }

  /* Taken from StackOverFlow */
  .cardeff >:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
  
mat-card-title{
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
img {
  width: 200px;
  height: 300px;
  margin: auto;
  object-fit: contain;
}